@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #1a1a1a;
  color: #e0e0e0;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  height: 100vh;
  max-width: 1200px;
  margin: auto;
  padding: 1em;
  display: grid;
  grid-template: min-content auto min-content/auto;
  gap: 1em;
  text-align: center;
}

h1 {
  font-weight: 900;
  letter-spacing: 0.2em;
}
@media (min-width: 600px) {
  h1 {
    letter-spacing: 0.5em;
  }
}

h2 {
  letter-spacing: 0.125em;
}
@media (min-width: 600px) {
  h2 {
    letter-spacing: 0.33em;
  }
}

h3 {
  font-weight: 600;
}

a {
  color: #e0e0e0;
}

a:hover {
  color: #eeee51;
}

a:active {
  color: #dddd11;
}

a.homelink,
a.homelink:hover,
a.homelink:active {
  text-decoration: none;
}

#homeblock {
  margin: auto;
}
#homeblock a {
  display: block;
  margin-bottom: 0.5em;
}

.infoblock {
  display: grid;
  grid: min-content min-content auto/auto;
  gap: 1em;
}

.bioblock {
  display: grid;
  grid: auto 1fr/auto;
  gap: 1em;
  margin: auto;
}
@media (min-width: 600px) {
  .bioblock {
    grid: auto/auto 1fr;
    max-width: 900px;
  }
  .bioblock p {
    margin: auto;
    text-align: left;
  }
}

#logo {
  width: 100%;
  max-width: 200px;
  margin: auto;
}

#copy {
  font-weight: 200;
  font-size: 0.8em;
}